.invoice-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    min-height: 100vh;
    padding: 3rem 1rem;
    background-color: #f7f7f7;
}

.invoice-form-container h2 {
    color: #333;
    font-weight: 600;
    margin-bottom: 2rem;
}

.invoice-form {
    background-color: #bdcfb49d;
    padding: 2rem 3rem;
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.invoice-items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.invoice-item {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    background-color: #7e7d7d6b;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
}

.invoice-item .form-field {
    flex: 1;
}

.invoice-form ::ng-deep .mat-mdc-form-field {
  width: 100%;
  background-color: #ffffff;
}

.invoice-form ::ng-deep .mat-mdc-form-field-infix {
  background-color: #ffffff;
  width: 100%;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
    display: none;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: #ffffff !important;
}


.form-actions-inline {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.form-actions {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 2rem;
}

.remove-button {
    min-width: 80px;
    background-color: rgb(255, 67, 67);
    font-weight: 400;
    color: #fafafa !important;
}

.remove-button:hover {
    background-color: rgb(220, 10, 10);
    transform: scale(1.1);
    transition: transform 0.1s ease-in;
}

@media (max-width: 768px) {
    .invoice-form {
        padding: 1.5rem;
    }

    .invoice-item {
        flex-direction: column;
        align-items: stretch;
    }

    .form-actions {
        flex-direction: column;
        gap: 1rem;
    }
}