.main-page {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background-color: #f5f5f5;
}

.invoice-form-container {
    background-color: #ffffff;
    padding: 2.5rem 3rem;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    text-align: center;
    margin-top: 100px;
}

.invoice-form-container h1 {
    color: #333;
    font-weight: 600;
    margin-bottom: 2rem;
    font-size: 2rem;
    text-transform: uppercase;
}

.invoice-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.invoice-items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.invoice-item {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 1rem;
    background-color: #fafafa;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
}

.invoice-item .form-field {
    flex: 1;
    min-width: 200px;
}

.form-actions-inline {
    display: flex;
    align-items: center;
    justify-content: center;
}

.remove-button {
    min-width: 100px;
    background-color: rgb(245, 34, 34);
    color: #fff !important;
}

button:hover {
    transform: scale(1.05);
    transition: transform 0.1s ease-out;
}

.form-actions {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 1.5rem;
}

.back-button {
    display: block;
    margin: 20px auto;
    min-width: 80px;
    min-height: 30px;
    background-color: #444444;
    color: #fff;
    border-radius: 5px;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    vertical-align: baseline;
}


@media (max-width: 768px) {
    .invoice-form-container {
        padding: 2rem 1.5rem;
    }

    .invoice-item {
        flex-direction: column;
        align-items: stretch;
    }

    .form-actions {
        flex-direction: column;
    }

    .form-actions button {
        width: 100%;
    }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}