<!-- src/app/components/error-system-down.component.html -->
<div class="container">
  <div class="error">
    <h1>503</h1>
    <h2>error</h2>
    <p>System is down. Please try again</p>
    <p class="subtitle">ERR_SERVICE_UNAVAILABLE</p>
  </div>
  <div class="stack-container">
    <div class="card-container">
      <div class="perspec">
        <div class="card">
          <div class="writing">
            <div class="topbar">
              <div class="red"></div>
              <div class="yellow"></div>
              <div class="green"></div>
            </div>
            <div class="code">
              <ul>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </div>
</div>
