// src/styles.scss
@use '@angular/material' as mat;

:root {
  @include mat.snack-bar-overrides((
    button-color: white,
    container-color: #27b12c,
  ));
}

.success-snack {
  @include mat.snack-bar-overrides((
    container-color: #27b12c,
    button-color: white,
  ));
}

.error-snack {
  @include mat.snack-bar-overrides((
    container-color: #f44336,
    button-color: white,
  ));
}
