.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  background-color: #f5f5f5;
  padding: 2rem;
}

.form-container {
  width: 90%;
  max-width: 600px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 2rem 2.5rem;
}

.form-title {
  text-align: center;
  color: #333;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 2rem;
  text-transform: uppercase
}

.product-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-field {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.full-width {
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 20px;
}

.submit-button {
  padding: 0.7rem 1.5rem;
  font-size: 0.9rem;
  background-color: #c2f3b8 !important;
  color: #000 !important;
  border: 1px solid #121312;
  border-radius: 5px;
  box-shadow: none;
  cursor: pointer;
  text-transform: uppercase;
}

.submit-button:hover {
  background-color: #26c563 !important;
  color: #fff !important;
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

.product-form ::ng-deep .mat-mdc-form-field {
  width: 100%;
  background-color: #cbcccb;
}

.product-form ::ng-deep .mat-mdc-form-field-infix {
  background-color: #cbcccb;
  width: 100%;
}

.product-form ::ng-deep .mat-mdc-text-field-wrapper {
  border-radius: 6px;

}

.product-form ::ng-deep .mat-mdc-form-field-subscript-wrapper{
  display: none;
}

@media (max-width: 600px) {
  .form-container {
    width: 95%;
    padding: 1.5rem;
  }

  .form-title {
    font-size: 1.4rem;
  }

  .submit-button {
    width: 100%;
  }
}
