// src/app/features/product/product-form/product-form.component.scss

h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;

  mat-form-field {
    margin-bottom: 1rem;
  }

  button {
    margin-top: 1rem;
    background-color: #3f51b5; 
    color: white;
  }

  button[type="button"] {
    background-color: #ccc;
    color: black;
    margin-left: 1rem;
  }
}

.mat-error {
  color: #f44336; 
}